<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Proposer un trajet</title>
  </head>
  <body>
    <a href="/aller">Aller simple</a>
    <a href="/aller&retour">Aller et retour</a>
  </body>
</html>
